$bg-color: #dbdbdb;
$font-color: #333030;

.filter-panel-header {
  background-color: $bg-color;
}
.filter-panel-header > span {
  margin: 0px 10px;
}
.active-question {
  background-color: $bg-color;
  border: 1px solid $font-color;
}