$bg-color: #dbdbdb;
$font-color: #333030;
$border-color: #c3c3c3;

.filter-panel-header {
  background-color: $bg-color;
}
.filter-panel-header > span {
  margin: 0px 10px;
}
.active-question {
  background-color: $bg-color;
  border: 1px solid $font-color;
}
.info-box {
  margin: 2em;
  text-align: center;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
}

.multiselect-toggle-panel {
  width: 100%;
  display: flex;
  border: 1px solid $border-color;
}

.arrow {
  width: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.options-container {
  border: 1px solid $border-color;
  max-height: 150px;
  overflow-y: scroll;
}

.option:hover {
  background-color: #b6cdd4;
}

/* Style the accordion panel. Note: hidden by default */
.multiselect-content-panel {
  background-color: white;
  display: none;
  overflow: hidden;
}
.show-panel {
  display: block;
}
.multiselect-search-field {
  border: 1px solid $border-color;
}
.multiselect-filter {
  display: inline;
  border: 1px solid $border-color;
  width: 100%;
}
